{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">建立投資組合</h3></div>
                            <div class="card-body">
                                <form action="/create_strategy_tw" method="POST" class="form-horizontal">
                                    <div class="form-group">
                                        <h4>為你的投組取一個名字：</h4>
                                        <input type="text" name="strategy_name" id="strategy_name" placeholder="例如：絕對無敵投資王" />
                                    </div>

                                    <div class="form-group" id="items">
                                        <h4>請選擇資產：</h4>
                                        <h5>（建議至少三個資產）</h5>
                                        <div class="form-group">
                                            <input list="dropdown" name="asset_ticker" id="asset_ticker">
                                            <datalist id="dropdown">
                                                {% for ticker in asset_candidates_tw %}
                                                <option value="{{ticker[0]}}">{{ticker[0]}}: {{ticker[1]}}</option>
                                                {% endfor %}
                                            </datalist>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="button" value="add entry" id="add" class="btn btn-primary"/>
                                        <input type="submit" value="submit" class="btn btn-success" onclick="return confirm('按下「OK/是/確定」之後，您的投組就立即送出。您可以離開或關閉這個頁面，分析程式會繼續執行。但是請不要重複按「Submit」按鈕。')"/>
                                    </div>
                                </form>
                                <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
                                <script>
                                    $(document).ready(function(){
                                        $("#add").click(function(e){
                                            event.preventDefault()
                                            $('#items').append('<div class="form-group">'+
                                                               '    <input list="dropdown" name="asset_ticker" id="asset_ticker">'+
                                                               '    <datalist id="dropdown">'+
                                                                        {% for ticker in asset_candidates_tw %}
                                                               '        <option value="{{ticker}}">{{ticker[0]}}: {{ticker[1]}}</option>'+
                                                                        {% endfor %}
                                                               '    </datalist>'+
                                                               '</div>'
                                            );
                                        });
                                    
                                        $('body').on('click', '#delete', function(e){
                                            $(this).parent('div').remove();
                                        });
                                    
                                    });
                                </script>
                                
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
</div>
{% endblock %}
